/* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* colors  */
:root {
    --header: #0084FD;
    --even-section: #9792E4;
    --footer-bg: #333333;
    --bg-card: #B5DDFF;
    --last-title: #FDC15F;
    --text-header: white;
    --text-card: black;
}
/* utility  */
.debug {
    border: 1px solid black;
    min-height: 50px;
}
.container {
    min-width: 200px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
}
.sp-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.txt-center{
    text-align: center;
}

html {
    font-family: 'PT Sans', sans-serif;
}

/* header */

header {
    background-color: var(--header);
    color: var(--text-header);
    padding: 1rem 2rem;
}
.main-menu {
    list-style: none;
    display: none;
}
.main-menu a{
    text-decoration: none;
    color: var(--text-header);
}
.hamburger {
    font-size: 1.5em;
}

#intro, #planning, #testimonials, #features, #about-us, #get-start {
    padding: 0 2rem;
}
.card {
    background-color: var(--bg-card);
    color: var(--text-card);
    margin-bottom: 1.5rem;
}


/* main  */

section:nth-child(even) {
    background-color: var(--even-section);
}

/* footer  */

footer {
    background-color: var(--footer-bg);
    padding: 0 2rem;
   
}
/* RESPOSIVE */

@media screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }
    .cards {
        display: flex;
    }
    #intro .cards {
        
        flex-flow: row wrap;
        background-color: var(--last-title);
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
    #intro .card{
        width: calc(33.33% - 1.5rem);
        margin: 1.5rem 0.75rem;
    }
    #intro .cards .card:first-child {
        width: calc(66.66% - 1.5rem);
    }
    
    
     #planning .card {
        width: 100%;
        height: 100%;
        margin-bottom: 0;
    } 
    #features  .cards{
        
        flex-flow: row wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    } 
    #features h2 {
        width: 100%;
        text-align: center;
    }
    
    #features .card{
        width: calc(50% - 1.5rem);
        margin: 0.75rem 0.75rem; 
    }
    #about-us .card.left {
        width: 60%;
    }
    #about-us .card.right {
        width: 40%;
        background-color: var(--last-title);
    }
    #planning .cards{
        display: block;
    }
    
}
@media screen and (min-width: 992px) {
    #planning .cards {
        display: flex;
    }
    #planning .card {
        width: 100%;
    }
}
@media screen and (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
}
