* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --header: #0084FD;
    --even-section: #9792E4;
    --footer-bg: #333333;
    --bg-card: #B5DDFF;
    --last-title: #FDC15F;
    --text-header: white;
    --text-card: black;
}
.debug {
    border: 1px solid black;
}
.container {
    max-width: 310px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
}
.sp-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}

html {
    font-family: 'PT Sans', sans-serif;
}
.main-menu {
    list-style: none;
    display: none;
}

header {
    background-color: var(--header);
    color: var(--text-header);
    padding: 1rem 2rem;
}
header div.container {
    
}
section {
    height: 80px;
}
section:nth-child(even) {
    background-color: var(--even-section);
}



footer {
    background-color: var(--footer-bg);
    height: 80px;
}
